<nav class="loginNav">
	<ul>
	<% if current_user.nil? %>

		<%= form_tag log_in_path do |f| %>
      <div class="log-in-form">
      <div class="field">
        <label><%= t(:user_name) %></label>
        <%= text_field_tag(:user_name) %>
      </div>
      <div class="field">
        <label><%= t(:password) %></label>
        <%= password_field_tag(:password) %>
      </div>
      <div class="log-in-button">
        <%= submit_tag(:LOGIN) %>
      </div>
		<% end %>
    </div>
  <ul>
		<% end %>
		<% if !current_user.nil? %>
  <a href="<%= log_out_path %>">
	 <li class="logout">
	   <%= t(:log_out) %>
	 </li>
  </a>
	<% end %>
	<% if !current_user.nil? %>
    <a href="<%= edit_user_path(current_user) %>">
  		<li class="edit_account">
  			<%= t(:edit_your_profile) %>
  		</li>
    </a>
	<% end %>
	<% if !current_user.nil? && current_user.admin == true %>
    <a href="<%= users_path %>">
  		<li>
  			Administration of Users
  		</li>
    </a>
    <a href="<%= posts_path %>">
  		<li>
        Administration of Posts
  		</li>
    </a>
	<% end %>
	<% if current_user.nil? %>
    <div>
		<a href="/users/new" id="sign-up-button">
    <%= t(:no_account) %>
      <li>
		    <%= t(:sign_up) %>
		  </li>
    </a>
    </div>
	<% end %>
	</ul>
	<% if flash[:notice] %>
		<div class="post-button-wrapper">
  		<div class="logged-in-notice"><%= flash[:notice] %></div>
		<% end %>
		<% if !current_user.nil? %>
			<a href="/posts/new"><div class="post-button">Write a Post!</div></a>
		</div>
	<% end %>
</nav>