<nav class="loginNav">
	<ul>
	<% if current_user.nil? %>
	<li>
		<%= form_tag log_in_path do |f| %>
      <div class="field">
        <%= label_tag(:user_name) %>
        <%= text_field_tag(:user_name) %>
      </div>
      <div class="field">
        <%= label_tag(:password) %>
        <%= password_field_tag(:password) %>
      </div>
      <div class="actions">
        <%= submit_tag(:Login) %>
      </div>
		<% end %>
	</li>
		<% end %>
		<% if !current_user.nil? %>
  <a href="<%= log_out_path %>">
	 <li class="logout">
	   Log Out
	 </li>
  </a>
	<% end %>
	<% if !current_user.nil? %>
    <a href="<%= edit_user_path(current_user) %>">
  		<li class="edit_account">
  			Edit Yur Profile
  		</li>
    </a>
	<% end %>
	<% if !current_user.nil? && current_user.admin == true %>
    <a href="<%= users_path %>">
  		<li>
  			Administration of Users
  		</li>
    </a>
    <a href="<%= posts_path %>">
  		<li>
        Administration of Posts
  		</li>
    </a>
	<% end %>
	<% if current_user.nil? %>
		<a href="/users/new">
      <li>
		    Sign up, nerd
		  </li>
    </a>
	<% end %>
	</ul>
	<% if flash[:notice] %>
		<div class="post-button-wrapper">
  		<div class="loggedin_notice"><%= flash[:notice] %></div>
		<% end %>
		<% if !current_user.nil? %>
			<a href="/posts/new"><div class="log-in-button">Write a Post!</div></a>
		</div>
	<% end %>
</nav>